#header{
    display: none;  
}

#headerAllDone{
    display: none;  
}

#questionary{
    display: none;  
}

#allDone{
    display: none;  
}

#hScore1{
    display: none;  
}

#hScore2{
    display: none;  
}


